.header{

  text-align: center;
  font-family: "Lucida-Console";
  font-weight: lighter;
  font-size: 2em;
  color: black;

  float: center;

  border: none;

  background-color: white;

  margin-bottom: 30px;

  display: block;
}

.form_format select{
  text-align: center;
  padding: 20px 20px 20px 20px;
  border: 2px solid turquoise;
}

#book_list {
  text-align: center;
  padding: 50px ;



  float: center;

  border: none;


  background-color: white;

}


.info{
  height: 40px;
  width:600px;
  border-radius: 25px;
  font-size: 14;
  font-weight: bold;
  font-family: "Lucida-Console";
  text-emphasis-color: "Red";

  list-style: none;
  background-image:linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ), url(https://previews.123rf.com/images/wklzzz/wklzzz1109/wklzzz110900093/10620317-오래-된-골동품-빈티지-종이-배경으로-나무에-공작-꽃.jpg);
  margin-bottom: 30px;
  margin-top:30px;
  padding: 40px 50px;
  display: inline-flex;
  float: center;

  border: none;
  border:5px solid red;
  padding: 40px 50px;
}


.statistics{

    text-align:center;
    font-family: "Lucida-Console";
    font-weight: lighter;
    font-size: 10;
    list-style:none;
    color: black;

    padding: 20px ;
    border:5px solid black;

    background-color: white;

    display: inline-flex;
  }
.statistics h1 {
  font-family: "Lucida-Console";
  font-weight: lighter;
  font-size: 3em;
  color: black;
  display: inline-flex;
  float: left;
  text-shadow: 2px 2px turquoise;
}
